PORT=3000
MONGO_URI=mongodb://localhost:27017/naboo
# Jwt
JWT_SECRET=change_me_to_a_strong_random_secret
JWT_EXPIRATION_TIME=604800
# Frontend
FRONTEND_DOMAIN=localhost
FRONTEND_URL=http://localhost:3001